// COLOURS
$color-bg--dark: #1d2225;
$color-bg--dark-highlight: #4f5b66;

$color-grey: #65737e;
$color-grey--light: #ddd;
$color-grey--lighter: #eee;
$color-grey--lightest: #f3f3f3;
$color-grey--dark: #2c3338;

$color-white: #fff;
$color-offwhite: snow;

$color-blue--light: #5fb3b3;
$color-red--light: #e66d63;
$color-yellow--light: #dbea7c;

// SOCIAL MEDIA COLOURS
$color-twitter: #1da1f2;
$color-linkedin: #007bb5;
$color-github: #000;
$color-codepen--light: #fff;
$color-codepen--dark: #000;
$color-udemy: #eb524f;
$color-pluralsight--orange: #F15B2A;
$color-pluralsight--magenta: #EC008C;

// CARD STYLES
// SCHOOL 
$color-blue--cvhs: #334167;
$color-blue--light--cvhs: #717a95;
$color-gold--cvhs: #c39b45;
$color-gold--mid--cvhs: #d8be85;
$color-gold--light--cvhs: #f9f5ec;

// UNIVERSITY
$color-red--university: #e84118;
$color-blue--university: #eefcfd;

// BHET 
$color-red--bhet: #cd1a30;
$color-white--bhet: #fefefe;

// TF2
$color-orange--tf2: #eea353;

// FONTS
$font-header: 'Karla', sans-serif;
$font-body: 'Ubuntu Mono', monospace;
$font-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

// LAYOUT
$frame-width: 2vh;
$container-width: 97rem;
$container-width--tablet: 75rem;
$container-width--phone: 53rem;