.footer {
    height: 29vh;
    width: 100%;
    background-color: $color-bg--dark;
    display: block;
    position: relative;
    padding: 2vh;

    &__email {

        &:link,
        &:visited {
            position: absolute;
            bottom: 40%;
            left: 10rem;
            color: $color-white;
            font-size: 7rem;
            border-bottom: .5rem solid $color-blue--light;
            padding-bottom: .5rem;
            transition: padding-bottom .2s ease;

            @include respond(tab-land) {
                position: relative;
                display: block;
                text-align: center;
                font-size: 4.5rem;
                bottom: auto;
                left: auto;
                width: 52rem;
                margin: 5.85vh auto;
            }    
        }
    }
    
    &__blurb {
        position: absolute;
        bottom: 40%;
        right: 10rem;
        color: $color-grey--light;
        font-size: 2.5rem;
        letter-spacing: .2rem;
        line-height: 130%;
        text-align: center;

        @include respond(tab-land) {
            position: relative;
            display: block;
            bottom: auto;
            right: auto;
        }
    }

    &__name {
        letter-spacing: .5rem;
    }

    &__location {
        color: $color-red--light;
    }

    &__year {
        color: $color-blue--light;
    }
}