section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
};

.section-container {
    height: 100%;
    width: 100%;
    padding: 2vh;
    position: relative;

    @include respond(tab-port) {
        padding: 2vh 0;
    }
}

#fp-nav {
    @include respond(tab-port) {
        visibility: hidden;
    }
}