// GLOBAL RESET
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;               // 10px
  font-family: $font-body;
  color: $color-grey--dark;

  @include respond(letterbox) {
    font-size: 43.75%;               // 7px
  }
  
  @include respond(win-tab) {
    font-size: 56.25%;            // 9px    
  }  

  @include respond(tab-land) {
    font-size: 50%;               // 8px
  }   
  
  @include respond(phone) {
    font-size: 37.5%;            // 6px
  }    

  @include respond(phone-small) {
    font-size: 31.25%;           // 5px
  }
  
  @include respond(big-desk) {
    font-size: 75%;               // 12px
  }

  @include respond(ultra-hd) {
    font-size: 125%;              // 20px
  }
  
};

button {
  display: block;
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-shadow: inherit;
  cursor: pointer;
  outline: inherit;
  z-index: 10;

  &:hover,
  &:active,
  &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
  }
}