.about-me {
    height: 100%;
    width: 100%;

    &__heading {

    }

    &__text {
        width: $container-width;
        margin: 4.5vh auto 0 auto;

        @include respond(tab-port--less) {
            margin: 7.5vh auto 0 auto;
            width: $container-width--tablet;
        }

        @include respond(phone) {
            width: $container-width--phone;
        }
        
        .large {
            color: $color-red--light;
            font-size: 3rem;
            line-height: 150%;
        }

        .emphasis {
            color: $color-red--light;
        }
    }
}