.projects {
    
    &__heading {
        color: $color-offwhite;
    }

    &__coming-soon {
        display: block;
        margin: 17vh auto 0 auto;
        background-color: rgba($color-offwhite, .8);
        width: $container-width;
        padding: 6rem;

        @include respond(tab-port--less) {
            width: $container-width--tablet;
        }

        @include respond(phone) {
            width: $container-width--phone;
        }
    }

    &__coming-soon-heading {

    }

    &__coming-soon-text {
        font-size: 2.5rem;
    }
}