.projects {
    
    &__heading {
        color: $color-offwhite;
    }

    &__subheading {
        display: block;
        margin: 0 auto;
        background-color: rgba($color-offwhite, .8);
        width: $container-width;
        padding: 6rem;

        @include respond(tab-port--less) {
            width: $container-width--tablet;
        }

        @include respond(phone) {
            width: $container-width--phone;
        }
    }

    &__stackblitz-frame {
        width: $container-width;
        height: 50vh;
        margin: 3rem auto;
        display: block;
        
        @include respond(tab-port--less) {
            width: $container-width--tablet;
        }

        @include respond(phone) {
            width: $container-width--phone;
        }
    }
}