.technology {
    &__heading {
        color: $color-offwhite;
    }

    &__list {
        display: block;
        margin: 6rem auto auto auto;
        width: $container-width;

        & > * {
            font-size: 2.5rem;
        }
    }
    
    &__technology {
        color: $color-offwhite;

        .blue {
            color: $color-blue--light;
        }

        .red {
            color: $color-red--light;
        }

        .yellow {
            color: $color-yellow--light;
        }

        .white {
            color: $color-white;
        }

        .offset-up {
            position: relative;
            display: inline-block;
            transform: translate(-.2rem, -.2rem);
        }

        &.highlight-row {
            background: linear-gradient(to bottom, $color-bg--dark-highlight 50%, transparent 50%);
        }
    }
}

.number-prefix {
    display: inline-block;
    color: $color-grey;
    width: 4.5rem;
    border-right: .1rem solid $color-grey;
}

.technology__technology > .number-prefix {
    margin-right: 4.5rem;
}

.technology__technology--heading > .number-prefix,
.technology__technology--spacer > .number-prefix {
    margin-right: 1.5rem;
}