// Hide cards when not active -----------------
.section > .technology > .technology__list {
    visibility: hidden;
}

.section.active > .technology > .technology__list {
    visibility: visible;
}
// --------------------------------------------

.technology {
    &__heading {
        color: $color-offwhite;
    }
    
    &__list {
        display: block;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $container-width;

        @include respond(tab-port) {
            width: $container-width--tablet;
        }

        @include respond(phone) {
            width: $container-width--phone;
        }

        & > * {
            font-size: 3rem;
        }
    }

    &__technology {
        color: $color-offwhite;

        .blue {
            color: $color-blue--light;
        }

        .red {
            color: $color-red--light;
        }

        .yellow {
            color: $color-yellow--light;
        }

        .white {
            color: $color-white;
        }

        &.highlight-row {
            background: linear-gradient(to bottom, $color-bg--dark-highlight 50%, transparent 50%);
        }
    }
}

.number-prefix {
    display: inline-block;
    color: $color-grey;
    width: 4.5rem;
    border-right: .1rem solid $color-grey;
}

.technology__technology > .number-prefix {
    margin-right: 4.5rem;
}

.technology__technology--heading > .number-prefix,
.technology__technology--spacer > .number-prefix {
    margin-right: 1.5rem;
}